.navbar{
    background-color:  #00BFA6  ;
}
@font-face {
    font-family: breeserif;
	src: url('../font/BreeSerif.ttf');
}
.breeserif{
    font-family: breeserif;
    font-size: 23px;
}
@font-face {
    font-family: creteround;
	src: url('../font/CreteRound.ttf');
}
.creteround{
    font-family: creteround;
    font-size: 18px;
}
@font-face {
    font-family: crete;
	src: url('../font/Crete.ttf');
}
.crete{
	font-family: crete;
    font-size:45px;

}
.text-tosca{
    color: #00BFA6 !important;
}
.btn-tosca{
    background-color: #00BFA6 ;
}
